html {
    /*font-size: 100px;*/
    font-family: "Hannotate SC";
    background-color: #FFFFFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    height: 100%;
    width: 100%;
    min-width: 1300px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    margin: 0 auto;
    background-color: #FFFFFF;
    height: 100%;
    font-size: 0.14rem;
    position: relative;
}

img {
    display: block;
}

ul, li {
    list-style: none;
}
.bgimg{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
}
.nav-ul{
    list-style: none;
    width: 600px;
    margin: auto;
}

.nav-btn{
    height: 45px;
    line-height:45px;
    width: 90px;
    border-radius: 4px;
    border:2px solid white;
    display: inline-block;
    text-align: center;
    font-size: 16px;

    color: white;
    margin: 10px;
    cursor: pointer;
}
.nav-btn:hover,.nav-btn.active{
    color: black;
    background-color: #ffffff;
    animation-name: bounce;
    animation-duration: 0.5s;
}
.wrap{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 800px;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center top;
    background-image:url("../img/bg.jpg");
    background-color: #FFFFFF;
}
.wrap-banner{
    height: 650px;
}
.page{
    background-color: rgba(0,0,0,0.4);
    color: #FFFFFF;
    height:100%;
    width: 100%;
    min-height: 800px;
}
.content{
    display: none;
    width:1200px;
    margin: auto;
    padding: 80px 0;
    color: white;
    font-size: 20px;
}

@keyframes bounce {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    } 50% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    } 100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}